<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWin81" version="9.0.0.5" targetFramework="wpa81" />
  <package id="Facebook" version="7.0.6" targetFramework="wpa81" />
  <package id="NdefLibrary" version="3.0.3" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wpa81" />
  <package id="System.Device.Location.Portable" version="1.0.0" targetFramework="wpa81" />
</packages>